In [14]:
# Import the necessary packages 
import numpy as np 
import pandas as pd
from pprint import pprint
pd.set_option("display.max_rows", 30)

#### Caution : This notebook is not exhaustive and is definitely prone to errors. Please take everything I say as a maybe wrong fact.

In [37]:
df = pd.read_csv("Iter_2.csv")
df.reset_index(drop=True, inplace=True)
del df[df.columns.values[0]]
df

,CompanyName,JobProfile,JobLocation,EligibleBranches,MinCgpa,Ctc,IiitAllowed
0,ixambee,software developer,"noida, delhi-ncr","cs, it, ece, ee, mech, civil, pie",0,6,NaN
1,tummee.com,software development engineer,"remote, gurgaon","cs, it, ece, ee, mech, civil, pie",na,7lpa,0.0
2,jcb india,NaN,ballabgarh(delhi ncr),"mech,ee",6.5,7,NaN
3,smart energy water,software engineer,noida,"cs, it, ece, ee, mech, civil, pie",7,7.5,1.0
4,escorts ltd,NaN,faridabad,"pie,ee,mech",7.7777,5.0,0.0
...,...,...,...,...,...,...,...
109,hindustan unilever ltd,supply chain trainee.,any factory in india,"mech,pie,ee",7,13,0.0
110,oneplus,software engineer,hyderabad,"cs,it,ece",0,15,0.0
111,pharmeasy,NaN,"bangalore, mumbai","cs,it,ece",7,11 lpa,0.0
112,manglam electrical,get,NaN,"ece,ee",0,3.8-4.8,NaN
113,isie india,"techno-management, technical-event-management,...",noida,"mech,ee,ece,pie,civil",6.5,3.0-4.2,0.0

#### 1. How many different companies came to campus this year ? <br />

In [38]:
total_companies = len(df)
pprint(f"Total Companies : {total_companies}")
pprint(f"The list of these companies are : ")
pprint(set(df["CompanyName"]))

'Total Companies : 114'
'The list of these companies are : '
{'accenture',
 'accolite',
 'airtel x labs & airtel paymentbank',
 'amazon',
 'amdocs',
 'analog devices',
 'anglo eastern ship management ltd. hong kong (merchant navy)',
 'apisero inc',
 'avalara technologies',
 'bajaj auto ltd',
 'bigbasket',
 'brigosha',
 'brillio technologies',
 'cadence',
 'capgemini',
 'carwale',
 'cdac',
 'cgi',
 'claritrics india private limited',
 'codenation innovation labs',
 'cognizant',
 'cubastion consulting',
 'cvent india pvt ltd',
 'decision point pvt ltd',
 'delhivery',
 'deloitte consulting india pvt ltd',
 'dmi finance',
 'escorts ltd',
 'evalueserve',
 'evosys',
 'exl services',
 'expertlancing research services llp',
 'fiapl',
 'fiftyfive technologies',
 'flipkart internet pvt ltd',
 'gameskraft technologies',
 'godrej & boyce',
 'helium consulting private limited',
 'hexaviewtech',
 'hindustan unilever ltd',
 'hpcl',
 'ihs markit',
 'incedo',
 'infoedge',
 'interra systems india pvt. ltd.',
 'ion trading',
 'isie india',
 'ixambee',
 'jcb india',
 'jio platforms ltd.',
 'jivox india',
 'larsen and toubro infotech',
 'larsen and toubro limit',
 'larsen and toubro technology services',
 'lava international',
 'learning routes pvt ltd.',
 "lowe's india",
 'mahindra comviva',
 'manglam electrical',
 'maruti suzuki',
 'mentor graphics',
 'naflon pharmaceutical',
 'namekart',
 'natwest group',
 'nokia',
 'nykaa',
 'octro inc (sgm software pvt ltd)',
 'onebanc technologies',
 'oneplus',
 'oracle financial services software',
 'oracle india pvt. ltd',
 'paxcom-india',
 'paytm',
 'perceptive analytics',
 'pharmeasy',
 'phrogapp labs pvt ltd',
 'pindexx',
 'planetspark',
 'pranav vikas (part of vikas group)',
 'publicis sapient',
 'q3 technologies',
 'quovantis technologies pvt. ltd',
 'raam group',
 'reliance jio platforms',
 'samsung r&d delhi',
 'samsung sds',
 'schneider electric',
 'siemens',
 'signalchip innovations',
 'signify innovations india ltd',
 'smart energy water',
 'splashlearn',
 'tcs (tata consultancy service)',
 'tejas networks',
 'thcm',
 'truminds',
 'tummee.com',
 'udaan',
 'undostres',
 'urban company',
 'varroc engineering ltd.',
 'varun beverages',
 'vedanta limited',
 'verizon',
 'wapcos limited',
 'wells fargo',
 'whitehat jr',
 'wipro limited',
 'wns global services',
 'xenonstack',
 'zs associates'}

#### 2. How many different Profiles do students do into ? 

##### Note : A lot of overlapping is here, example : Sde, Software Developer, Software Engineer all are same

In [39]:
total_different_profiles = 0
set_of_profiles = set()
for i in range(len(df)):
    profile_here = df.loc[i, "JobProfile"]
    try:
        for x in profile_here.split(','):
            set_of_profiles.add(x)
    except Exception:
        pass

pprint(f"Total Different Profiles are {len(set_of_profiles)}")
pprint("All the different profiles are here")
pprint(set_of_profiles)

'Total Different Profiles are 79'
'All the different profiles are here'
{' analog design engineer',
 ' analyst',
 ' associate systems engineer',
 ' business technology analyst (bta)',
 ' business-development-executive',
 ' circuit simulation.',
 ' data analyst',
 ' data scientists',
 ' decision analytics associate (daa)',
 ' digital design engineer',
 ' ev-engineer',
 ' firmware design engineer',
 ' hardware engineering',
 ' hardware-engineer-r&d',
 ' jr. data engineer',
 ' jr. data scientist',
 ' machine learning engineering',
 ' management',
 ' production',
 ' schematic design & pcb layout design & development',
 ' software developer (base+)',
 ' technical-event-management',
 ' testing',
 'analyst â€“ deloitte consulting',
 'associate consultant',
 'associate software engineer',
 'business analyst',
 'business development counsellor',
 'business operations associate (boa)',
 'data analyst',
 'data scientist',
 'deputy manager',
 'development',
 'digital marketer',
 'dsp engineer',
 'engineer',
 'engineer trainee',
 'engineer trainees',
 'engineering lead',
 'full stack developer',
 'game developer',
 'get',
 'graduate engineer trainee',
 'graduate trainee engineer (gte)',
 'hardware engineer',
 'it associate systems engineer',
 'jr. software engineer',
 'knowledge associates',
 'management trainee(pfa)',
 'member technical staff',
 'mobile application developer',
 'officer-engineering',
 'oracle functional consulting',
 'patent research associate trainee.',
 'project engineer.',
 'research associate(intellectual property)',
 'rnd engineer',
 'rotational product developer',
 'sales associate',
 'sales manager',
 'sde',
 'sde-1',
 'senior analyst',
 'software developer',
 'software developers',
 'software development',
 'software development engineer',
 'software development engineering',
 'software engineer',
 'software engineer and cloud engineer',
 'software engineer trainee',
 'software engineer)',
 'software engineering associate',
 'software-developer-(pathfinder)',
 'software-engineer-r&d',
 'supply chain trainee.',
 'supply-chain',
 'techno-management',
 'trainee analyst'}

#### 3. How many different places in India are students placed ? 
##### Note : We also have overlapping places here : Like Bangalore, Bengaluru etc

In [40]:
total_diff_places = 0
set_of_places = set()
for i in range(len(df)):
    place_here = df.loc[i, "JobLocation"]
    try:
        for x in place_here.split(','):
            set_of_places.add(x)
    except Exception :
        pass
pprint(f"Total Different Job Locations are {len(set_of_places)}")
pprint("All the different Job Locations are here")
pprint(set_of_places)

'Total Different Job Locations are 49'
'All the different Job Locations are here'
{' bangalore',
 ' bengaluru',
 ' chennai',
 ' delhi',
 ' delhi-ncr',
 ' goregaon',
 ' gurgaon',
 ' haryana',
 ' hyderabad',
 ' jaipur',
 ' kolkata',
 ' mohali',
 ' mumbai',
 ' navi mumbai',
 ' noida',
 ' pune',
 ' remote',
 'ahmedabad',
 'any factory in india',
 'ballabgarh(delhi ncr)',
 'bangalore',
 'bangalore/hyderabad/noida/pune',
 'banglore',
 'bengaluru',
 'chandigarh',
 'chennai',
 'delhi-ncr',
 'faridabad',
 'gurgaon',
 'gurugram',
 'hyderabad',
 'hyderabad/mumbai/gurgaon/benagaluru',
 'kharagpur',
 'mexico city',
 'mohali',
 'mohali/delhi/gurgaon',
 'mumbai',
 'mumbai and bangalore',
 'mumbai/bangalore/pune',
 'navi mumbai',
 'noida',
 'noida sector-126',
 'on company managed ships.',
 'pan india',
 'pan india.',
 'pan-india',
 'pune',
 'remote',
 'vashi'}

#### 4. A lot of myth in college is around this "People in core branches are less placed." <br />
#### a) My hold in this is that there is direct correlation between the `number of companies` coming and `number of people getting placed`.

In [41]:
#These are the count of companies that allow 'variable_name' branch to sit. 
#Example if cs = 50, then 50 companies allowed "CSE" to sit for the test.
cs = 0; it = 0; ece = 0; civil = 0; mech = 0; pie = 0; ee = 0
total_diff_branches = 0
set_of_branches = set()
for i in range(len(df)):
    branches_here = df.loc[i, "EligibleBranches"]
    try:
        for x in branches_here.split(','):
            branch = x.strip()
            set_of_branches.add(branch)
            if(branch == "cs"):
                cs += 1
            elif(branch == "it"):
                it += 1
            elif(branch == "pie"):
                pie += 1
            elif(branch == "mech"):
                mech += 1
            elif(branch == "ece"):
                ece += 1
            elif(branch == "ee"):
                ee += 1
            else:
                civil += 1
    except:
        pass
pprint(set_of_branches)
pprint(f"Total Companies that allowed CSE : {cs}")
pprint(f"Total Companies that allowed IT : {it}")
pprint(f"Total Companies that allowed ECE : {ece}")
pprint(f"Total Companies that allowed EE : {ee}")
pprint(f"Total Companies that allowed CIVIL : {civil}")
pprint(f"Total Companies that allowed MECH : {mech}")
pprint(f"Total Companies that allowed PIE : {pie}")

{'mech', 'it', 'pie', 'cs', 'civil', 'ece', 'ee'}
'Total Companies that allowed CSE : 86'
'Total Companies that allowed IT : 81'
'Total Companies that allowed ECE : 82'
'Total Companies that allowed EE : 65'
'Total Companies that allowed CIVIL : 29'
'Total Companies that allowed MECH : 47'
'Total Companies that allowed PIE : 38'

#### 4. Lets talk about the CGPA crtiteria here. Usually seniors tell juniors to maintain a good enough 7 an you will be good to go. Let's check if that thing follows.

In [75]:
total_diff_cgpa = []
s = set()
for i in range(len(df)):
    cgpa_here = df.loc[i, "MinCgpa"]
    if(pd.isnull(cgpa_here)):
        cgpa_here = str(0)
    cgpa_here = cgpa_here.split(',')[0].split(' ')
    cgpa_here = cgpa_here[0]
    # Note some companies have no cgpa criteria. 
        ## In here there are 2 cases.
            ### a) That donot allow active backlogs
            ### b) That allow active backlogs
        # While gathering this data, I have found that type(a) companies are much great
        # er than type(b) companies. So please don't have any active backlog while sitting for placements.     
    if(cgpa_here == "all" or cgpa_here == "backlogs" or cgpa_here == "na" or cgpa_here == "nb" or cgpa_here == "pwd"):
        cgpa_here = str(0)
    s.add(cgpa_here)
    total_diff_cgpa.append(np.float(cgpa_here))


    # Sort this CGPA list
total_diff_cgpa = sorted(total_diff_cgpa)
total_diff_cgpa

assert(len(total_diff_cgpa) == len(df))

pprint(f"The Maximum CGPA required is {total_diff_cgpa[-1]}")
pprint("Note : 0 means that there is no requirement on CGPA but it maybe that you have no active backlogs")
pprint(f"The Minimum CGPA required is {total_diff_cgpa[0]}")

# Lets see some Percentiles
pprint(f"Note : Here it should be provided that you are in EligibleBranches")
pprint(f"If you want to sit for 100% of companies. {total_diff_cgpa[-1]}")
pprint(f"If you want to sit for 75% of companies. {total_diff_cgpa[int(0.75*len(total_diff_cgpa))]}")
pprint(f"If you want to sit for 50% of companies. {total_diff_cgpa[int(0.50*len(total_diff_cgpa))]}")
pprint(f"If you want to sit for 40% of companies. {total_diff_cgpa[int(0.40*len(total_diff_cgpa))]}")

'The Maximum CGPA required is 8.0'
('Note : 0 means that there is no requirement on CGPA but it maybe that you '
 'have no active backlogs')
'The Minimum CGPA required is 0.0'
'Note : Here it should be provided that you are in EligibleBranches'
'If you want to sit for 100% of companies. 8.0'
'If you want to sit for 75% of companies. 7.0'
'If you want to sit for 50% of companies. 6.5'
'If you want to sit for 40% of companies. 6.5'

#### Now the part you were all waiting for. The Average and Median Package possible
##### Note I will not provide the CTC Details as it may-be confidential and should not be made public.

In [ ]:
average_package_offered = 
median_package_offered =